<hr />
<h3>Prijava ispita</h3>
<form (submit)="prijavaIspita()">
  <div class="container">
    <div class="form-group">
      <select (change)="selectChangeHandler($event)">
        <option
          *ngFor="let exam of exams"
          >{{ exam.nazivPredmeta }}</option
        >
      </select>
      <select (change)="selectChangeHandler1($event)">
        <option *ngFor="let student of students">{{ student.ime }}</option>
      </select>
      <button class="btn btn-primary" type="submit">Prijavi ispit</button>
    </div>
  </div>
</form>
<app-prijavljeni-ispiti></app-prijavljeni-ispiti>
